#
sysname SW-Acc2
#
vlan batch 20 30 100
#
stp enable
stp mode rstp
#
telnet server enable
#
acl number 2000
 rule 5 permit source 192.168.100.0 0.0.0.255
 rule 10 deny
#
aaa
 local-user admin password simple Admin@123
 local-user admin privilege level 15
 local-user admin service-type telnet
#
interface Vlanif100
 ip address 192.168.100.12 255.255.255.0
#
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 20 30 100
#
interface GigabitEthernet0/0/2
 port link-type access
 port default vlan 20
#
interface GigabitEthernet0/0/3
 port link-type access
 port default vlan 30
#
interface GigabitEthernet0/0/4
 port link-type access
 port default vlan 30
#
snmp-agent community read public
#
http server enable
#
info-center enable
info-center timestamp log date
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound telnet
 acl 2000 inbound
#
return
