#
sysname SW-Acc1
#
vlan batch 10 20 100
#
stp enable
stp mode rstp
#
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type stelnet
#
acl number 2000
 rule 5 permit source 192.168.100.0 0.0.0.255
 rule 10 deny
#
aaa
 local-user admin password irreversible-cipher %^%#x9$Lm@4!vR#6wB~3%^%#
 local-user admin privilege level 15
 local-user admin service-type ssh
#
interface Vlanif100
 ip address 192.168.100.11 255.255.255.0
#
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 10 100
#
interface GigabitEthernet0/0/2
 port link-type access
 port default vlan 10
#
interface GigabitEthernet0/0/3
 port link-type access
 port default vlan 10
#
interface GigabitEthernet0/0/4
 port link-type access
 port default vlan 20
#
interface GigabitEthernet0/0/5
 port link-type access
 port default vlan 20
#
snmp-agent community read cipher public
#
http server enable
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
 acl 2000 inbound
#
return
