#
sysname SW-Core
#
vlan batch 10 20 30 100
#
stp enable
stp mode rstp
#
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type stelnet
#
acl number 2000
 rule 5 permit source 192.168.100.0 0.0.0.255
 rule 10 deny
#
aaa
 local-user admin password irreversible-cipher %^%#k8$Dm@2!qW#7zR~5%^%#
 local-user admin privilege level 15
 local-user admin service-type ssh
#
interface Vlanif10
 ip address 192.168.10.1 255.255.255.0
#
interface Vlanif20
 ip address 192.168.20.1 255.255.255.0
#
interface Vlanif30
 ip address 192.168.30.1 255.255.255.0
#
interface Vlanif100
 ip address 192.168.100.1 255.255.255.0
#
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 10 20 30 100
#
interface GigabitEthernet0/0/24
 port link-type access
 port default vlan 100
#
snmp-agent community read cipher %^%#A9$zQ@3!mX#5tN~8%^%#
#
info-center enable
info-center loghost 192.168.100.250
info-center timestamp log date
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
 acl 2000 inbound
#
return
