#
# SW-Acc1 接入交换机配置（Huawei S5700）
# 角色：接入层（办公 VLAN10 / 研发 VLAN20）
# 合规缺口：SNMP 默认社区串 public、HTTP 明文服务开启、缺日志服务器/时间戳（预期 6/10 合规）
#
sysname SW-Acc1

# ---------- VLAN ----------
vlan batch 10 20 100

# ---------- 生成树 ----------
stp enable
stp mode rstp

# ---------- SSH 使能 ----------
rsa local-key-pair create
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type stelnet

# ---------- AAA 本地用户（irreversible-cipher 不可逆加密 + 强口令） ----------
aaa
 local-user admin password irreversible-cipher Acc1@Mgmt#2024
 local-user admin privilege level 15
 local-user admin service-type ssh

# ---------- 管理 ACL ----------
acl number 2000
 rule 5 permit source 192.168.100.0 0.0.0.255
 rule 10 deny

# ---------- 管理 VLANIF ----------
interface Vlanif100
 ip address 192.168.100.11 255.255.255.0

# ---------- 上联汇聚 Trunk ----------
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 10 100

# ---------- 办公接入（VLAN10） ----------
interface GigabitEthernet0/0/2
 port link-type access
 port default vlan 10
interface GigabitEthernet0/0/3
 port link-type access
 port default vlan 10

# ---------- 研发接入（VLAN20） ----------
interface GigabitEthernet0/0/4
 port link-type access
 port default vlan 20
interface GigabitEthernet0/0/5
 port link-type access
 port default vlan 20

# ---------- SNMP（违规：仍在使用默认只读社区串 public） ----------
snmp-agent community read cipher public

# ---------- 违规：开启 HTTP 明文 Web 管理 ----------
http server enable

# ---------- 远程管理（仅 SSH + ACL；缺日志配置，见合规基线） ----------
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
 acl 2000 inbound
return
